.loginadmin {
  margin-top: 30px;
}
#login {
  border: 5px solid black;
  background-color: rgb(238, 234, 230);
  border-radius: 10%;
  margin-bottom: 30px;
}
.loginadmin > a > img {
  width: 40px;
  margin-left: 40px;
}
