.home {
  text-align: center;
}
.pantallainicio {
  background: linear-gradient(
    276deg,
    rgba(253, 253, 253, 1) 0%,
    rgba(205, 255, 185, 1) 100%,
    rgba(169, 240, 135, 1) 100%
  );
}

.col-izq {
  margin: auto;
  padding-top: 19%;
}
.col-izq > h3 {
  color: green;
}

.col-der > img {
  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  .infobiblio {
    padding-bottom: 30px;
  }
}
