.btnadmin {
  background-color: rgba(169, 240, 135, 1);
  border: none;
  color: white;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 5px;
}

.btnadmin:hover {
  background-color: white; /* Green */
  color: white;
}

.user > span {
  color: white;
  margin-right: 9px;
}

@media screen and (min-width: 700px) {
  .content {
    text-align: right;
  }
}
